<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
        <title>Gym Manager</title>
    {% endblock %}
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <div class="links">
            <a href="/" class="active">Intructors</a>
            <a href="/menbers" class="link">Members</a>
        </div>
    </header>

    {% block content %}{% endblock %}

</body>

</html>